.container {
  min-height:100%;
  max-width: -webkit-calc(#{$page-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$page-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-top:30px;

  background-color:#fff;
  margin-top:20px;
  margin-bottom:30px;
  box-shadow: 1px 1px 10px #BBB;
}
